<h1>管理者用/コマ一覧</h1>
<a href="/user/admin" class="bread">管理者用/トップ</a> ＞＞
管理者用/コマ表

<hr>

<h2>部費の回収が終わった月のコマはできるだけ早めに消すようにしましょう。</h2>

<div class="item">
    <a href="/coma/add" class="button">1週間分のコマ表を追加</a>
</div>
<div class="item">
    <a href="/coma/delete" class="button">最も古い月のコマ表を削除</a>
</div>

<hr>

    <% i = 0 %>
    <% @comalist.each do |obj| %>
        <% if obj.term == "1" then #一限の前に日付などを表示 %>
            <% if obj.date.wday == 4 then #水曜日なら週の始まりとして区切る%>
                <table>
                    <tr>
                        <th></th><th>1</th><th>2</th><th>昼</th><th>3</th><th>4</th><th>5</th><th>夜1</th><th>夜2</th>
                    </tr>
            <% elsif i == 0 then #水曜日ではなく,表の始まりの場合 %>
                <table>
                    <tr>
                        <th></th><th>1</th><th>2</th><th>昼</th><th>3</th><th>4</th><th>5</th><th>夜1</th><th>夜2</th>
                    </tr>
            <% end %>
            <tr>
            <% if obj.date == Date.today then #今日なら色を変える %>
                <th class="today">
            <% else %>
                <th>
            <% end %>
            <% if obj.date.wday == 4 or i == 0 then #木曜日なら月を表示 %>
                <%= obj.date.mon %>月
                <% i += 1%>
            <% end %>
            <%= obj.date.mday %>日</th>
        <% end %>
        <td>
            <% if obj.hitech == 'ハイテク' then %>
                <a href="/coma/admin_edit/<%= obj.id %>"><%= obj.band.bandname %></a>
            <% else %>
                <a href="/coma/admin_edit/<%= obj.id %>"><%= obj.hitech %></a>
                <% if obj.hitech == '' %>
                    <a href="/coma/admin_edit/<%= obj.id %>">ハイテク</a><!-- hitech に入力がないとき-->
                <% end %>
            <% end %>
        </td>
        <% if obj.term == "夜2" then%>
            </tr>
            <% if obj.term == 2 %>
                </table>
            <% end %>
        <% end %>
    <% end %>
    