<h1>管理者用/バンド一覧</h1>
<a href="/user/admin" class="bread">管理者用/トップ</a> ＞＞ 
管理者用/バンド一覧

<hr>

<div class="item">
    <a href="/band/add" class="button">バンドを追加</a>
</div>

<table>
    <tr>
        <th>バンド名</th><th>定演</th><th>学内</th>
    </tr>

    <% @bands.each do |obj| %>
        <tr>
            <td><%= obj.bandname %></a></td>
            <td><%= obj.teien %></td>
            <td><%= obj.gakunai %></td>
            <td><a href="/band/edit/<%= obj.id %>">編集</a></td>
            <td><a href="/band/delete/<%= obj.id %>">消去</a></td>
        </tr>
    <% end %>
</table>
